{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel = 'stylesheet' href = "{% static 'css/base.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">


    <title> Soccer Cards Collector</title>
</head>
<body>
    <header class="navbar-fixed"  >
        <nav class="transparentBG font color">
            <div class="nav-wrapper">
                <ul>
                    <li>
                        <a class="left brand-logo" href="{% url 'home' %}">Soccer Cards Collector</a>
                    </li>
                </ul>
                <ul class="right">
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'index' %}">View All my cards</a>
                    </li>
                    <li>
                        <a href="{% url 'cats_create' %}">Add a card</a>
                    </li>
                    <li>
                        <a href="{% url 'teams_index' %}">View All Teams</a>
                    </li>
                    <li>
                        <a href="{% url 'teams_create' %}">Create Teams</a>
                    </li>



                </ul>
            </div>
        </nav>
    </header>
    <main class="container" >
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer transparentBG">
        <div class="right ">All Rights Reserved, &copy; 2021 Soccer Cards Collector</div>
    </footer>
    
</body>
</html>