{% extends 'base.html' %}
{% block content %}
<h1>Team Details</h1>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ team.name }}</span>
                <p>League: {{ team.league }}</p>

            </div>
            <div class="card-action">
                <a href="{% url 'teams_update' team.id %}">Edit</a>
                <a href="{% url 'teams_delete' team.id %}">Delete</a>
            </div>
        </div>
        {% for photo in team.photo_set.all %}

        <img src="{{photo.url}}" alt="{{beer.beer_name}}" class="responsive-img card-panel">
        {% empty %}
            <div class="card-panel teal-text center-align">No Photos Uploaded</div>
        {% endfor %}
        <form class="card-panel" action="{% url 'add_photo' team.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br>
            <br>
            <input type="submit" class="btn" value="Upload Photo">
        </form>

    </div>
    <div class="col s6">
        <form action="{% url 'add_fixture' team.id %}" method="POST">
            {% csrf_token %}
            {{fixture_form.as_p}}
            <input type="submit" class="btn" value="Add A Fixture">
        </form>
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Opponent</th>
                    <th>Championship</th>
                </tr>
            </thead>
            <tbody>
                {% for fixture in team.fixture_set.all %}
                <tr>
                    <td>{{ fixture.date }}</td>
                    <td>{{ fixture.opp }}</td>
                    <td>{{ fixture.get_championship_display }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col s6">
        <h3>{{team.name}}'s card</h3>
        {% if team.cards.count %}
        {% for card in team.cards.all %}

        <div class="card">
            <div class="card-content">
                <span class="card-title"> Player:  <span style="color: {{card.name}}">{{card.name}} -</span>{{card.nationality}}
                </span>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>no cards</h5>
        {% endif %}
    </div>
    <div class="col s6">
        <h3>available cards</h3>
        {% if cards.count %}
            {% for card in cards.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                 A  <span style="color: {{card.name}}">{{card.name}} -</span>{{card.nationality}}
                </span>
            </div>
            <div class="card-action">
                <form action="{% url 'assoc_card' team.id card.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn" type="submit">Add</button>
                </form>
            </div>
            </div>
            {% endfor %}
        {% else %}
        <h5> {{team.name}} Already have all the cards available</h5>

        {% endif %}


    </div>
</div>
<script>
    //configure the date picker
    const dateEl = document.getElementById('id_date');
    const selectEl = document.getElementById('id_championship')

    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        default: new Date(),
        setDefault: true,
        autoClose: true,

    });

    M.FormSelect.init(selectEl)

    //configure the select tag
</script>
{% endblock %}